@import url(https://fonts.google.com/share?selection.family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800);

.banner nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
    font-family: "Lucida Handwritting", cursive; 
}

.banner nav h1{
    font-size: 2.6em;
    color: #f0680d;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    letter-spacing: 4px;
}

.banner nav h1 span {
    color: #172ce9;
   
}

.banner nav ul{
    display: flex;
}

.banner nav ul li{
    position: relative;
    list-style: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    overflow: hidden;
}

.banner nav ul li::after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 3px;
    left: 50%;
    background: #f0680d;
    transform: translateX(-50%);
    transition: .3s;
}

.banner nav li:hover{
    color: #f0680d;
}

.banner nav li:hover::after{
    width: 80%;
}

:root{
    
   background-image: url(https://static.vecteezy.com/system/resources/previews/000/430/602/non_2x/vector-border-template-with-different-seafood.jpg);
    --color-darkblue-alpha:var(--color-white-)
    
}

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif, Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color:  black;
    margin: 0;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(215deg,rgba(75, 113, 179, 0.8),rgba(124, 192, 147, 0.8)),url(/developers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title{
    color: var(--color-green);
    font-weight: 600; 
    
}

h1{
    font-weight: 400;
    line-height: 1.2;
}

p{
    font-size: 1.125rem;
}

h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,button,select,textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding:1.8rem 1rem;
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}

#description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}

.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}

#quest{
    color: black;
    font-size: 1.5rem;
}

#quest1{
    color: black;
    font-size: 1.5rem;
}

#quest2{
    color: black;
    font-size: 1.5rem;
}

#quest3{
    color: black;
    font-size: 1.5rem;
}

.form{
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
}

@media (min-width: 480px){
    form{
        padding: 2.5rem;
    }
}

.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.formControl{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.formControl:focus{
    border-color:blue;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25)
}

.inputRadio,
.checkbox
{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;

}

.textarea{
    width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    outline: none;
    border-color: blue;
    border-radius: 5px;
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:800px){
    .container{
        max-width: 760px;
    }
}

.text-uppercase {
    text-transform: uppercase;
    
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

footer {
	background-color: #f0680d;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: -28px;
    right: 0;
	z-index: 3;
}